body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.product-section, .cart-section, #payment-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.go-to-store-button, .checkout-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.go-to-store-button:hover, .checkout-button:hover {
    background-color: #45a049;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
